body {
  width: 100%;
  margin: 0;
}

/* h2 styling */
h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
/* heading div with h1 */
.header {
  margin-top: 20px;
  text-align: center;
}
/* hero image styling */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/coin.avif");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
/* styling for button */
.button {
  background-color: rgb(35, 137, 227);
  padding: 5px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  width: 200px;
  box-shadow: 8px 3px 3px rgb(33, 30, 30);
}
.button:hover {
  background-color: white;
  color: rgb(35, 137, 227);
  border: 2px solid rgb(35, 137, 227);
}


.button.is-primary:hover{
  color:#00d1b2;
  background-color: white;
  border: 2px solid #00d1b2;
}

/* display the coin change/button for giphy and user saved data */
.box {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
  box-shadow: 5px 5px 3px rgb(0, 3, 7);
  margin-left: 40px;
  margin-right: 40px;
}
/* image styling */
img {
  padding-left: "5px";
  border-radius: 5px !important;
  box-shadow: 5px 5px 3px rgb(13, 186, 172);
}

/* div to hold the button and select option */
#userInterface {
  margin-top:100px;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 50px;
}
/* styling for the giphy display */
.giphy {
  display: flex;
  justify-content: space-around;
}
/* giphy image styling */
.giphyImage {
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(33, 30, 30);
  margin-top: 20px;
  padding: 10px;
  border: 2px black solid;
  height : 307px;
  width: 524px;
}
/* set display box none before click event happened */
.hideDiv {
  display: none;
}
/* styling for the heading words div */
.word {
  color: white;
  font: 100 normal 2em "tahoma";
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  font-family: "Courier New", Courier, monospace;
  height: 80px;
}
p{
  color:black;
}
a.navbar-item, .navbar-link{
  color:black;
  font-weight: bold;
}

/* padding for inner div of hero div */
div.hero-inner {
  padding-top: 50px;
}
/* styling for footer section */
.footerSection {
  height: auto;
  color:white;
  background-color: #352b07;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.navbar-menu{
  justify-content: flex-end;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .word {
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    font-family: "Courier New", Courier, monospace;
    font: 100 normal 1em "tahoma";
    height: 40px;
    margin-bottom: 20px;
  }
  #userInterface {
    padding-top: 20px;
  }
  .modal-card {
    padding:40px;
  }
  div.navbar-brand{
    background-color:  #00d1b2;
  }
  img{
    height: 50px;
    width: 150px;
    box-shadow: 5px 5px 3px rgb(87, 93, 93);
  }
  #userInterface{
    margin-top: 0;
  }
  .giphyImage {
    padding: 10px;
    height : 210px;
    width: 370px;
  }
  h1.word{
    padding-left: 10px;
    padding-right: 10px;
  }
}

